.table{
    margin-top: 3cm;
    margin-left: 1cm;
    border: 1px solid black;
    border-collapse: collapse;
}
.table tr{
    border: 1px solid black;
    border-collapse: collapse;
}
.table tr th{
    width: 2cm;
    height: 0.8cm;
    border: 1px solid black;
    border-collapse: collapse;
}
.table tr td{
    border: 1px solid black;
    border-collapse: collapse;
}